@charset "UTF-8";
/******************************************
1.- Slide bar
******************************************/
			body {
			  
              font-family: 'Caveat Brush', cursive;
              
            }
            h1{
                color:#33ccff;
            }

			.sidenav {
			  height: 100%;
			  width: 0;
			  position: fixed;
			  z-index: 1;
			  top: 0;
			  left: 0;
			  background-color: #009999;
			  overflow-x: hidden;
			  transition: 0.5s;
			  padding-top: 60px;
			}

			.sidenav a {
			  padding: 8px 8px 8px 32px;
			  text-decoration: none;
			  font-size: 25px;
			  color: #ffffff; 
			  display: block;
			  transition: 0.3s;
			}

			.sidenav a:hover {
			  color: #33ccff;
			}

			.sidenav .closebtn {
			  position: absolute;
			  top: 0;
			  right: 25px;
			  font-size: 36px;
			  margin-left: 50px;
			}

			@media screen and (max-height: 450px) {
			  .sidenav {padding-top: 15px;}
			  .sidenav a {font-size: 18px;}
			}

/*********************************************************
2.-Footer
*********************************************************/
html, body {
    height: 100%; 
    }
    * {
    margin: 0;  
    }
    #contenidoprincipal  {
    height: 100%;  
    }
    #piedepagina {
    height: 100px;  
    width: 50;
    margin-top: -50px;  
    }
